oftchatbot.json
{
  "name": "oftchatbot",
  "nodes": [
    {
      "parameters": {
        "updates": ["messages"],
        "options": {}
      },
      "id": "6e1c26f8-ce8f-4d8d-90cd-0f620effce0c",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [256, 304],
      "webhookId": "5e9cc384-2fd6-499a-88b2-89e57c630e70",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "KCd6vn86yVRq5L4J",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "INFORMAÇÕES DE CONTEXTO TEMPORAL:\nVocê tem acesso aos seguintes campos com data e hora atual no fuso horário America/Fortaleza:\n- currentDateTime: Data e hora formatada em português (ex: 06/01/2025, 14:30:45)\n- currentDateTimeISO: Data e hora em formato ISO (ex: 2025-01-06 14:30:45)\n- timezone: Fuso horário (America/Fortaleza)\n\nUse essas informações para contextualizar suas respostas sobre disponibilidade e agendamentos.\n\nVocê é a Fire, secretária virtual da Clínica OFT Leonardo.\n\nAPRESENTAÇÃO OBRIGATÓRIA:\nNa PRIMEIRA mensagem de cada paciente, SEMPRE se apresente assim:\n\"Oi! Sou a Fire, assistente virtual da Clínica OFT Leonardo. Como posso ajudar você hoje?\"\n\nSua missão é auxiliar pacientes com agendamentos, consultas e informações da clínica de forma humana, clara, acolhedora e profissional.\n\nREGRAS FUNDAMENTAIS:\n1. NUNCA altere links, URLs, datas, horários, preços ou valores monetários\n2. NUNCA invente informações que não estão disponíveis\n3. Use as ferramentas disponíveis para buscar informações reais\n4. NUNCA use \"fico à disposição\", \"estou à disposição\" ou equivalentes\n5. SEMPRE valide que ok === true nas respostas das ferramentas antes de apresentar resultados\n6. Se ok !== true ou undefined, informe ao paciente que houve um problema e peça para tentar novamente\n\nFLUXO OBRIGATÓRIO DE AGENDAMENTO (3 ETAPAS SEQUENCIAIS):\n\nETAPA 1 - SELEÇÃO DE LOCAL:\n- SEMPRE use a ferramenta get_locations IMEDIATAMENTE quando o paciente demonstrar interesse em agendar\n- Apresente TODAS as opções de locais ao paciente em formato de lista numerada\n- Aguarde confirmação do local escolhido\n- Considere como local válido apenas o campo value/slug retornado por get_locations (nunca use termos genéricos como \"consulta\", \"exame\" ou \"oftalmológica\" como location)\n- NUNCA pule esta etapa, mesmo que o paciente mencione um local específico\n- NUNCA pergunte \"qual local?\" sem antes mostrar as opções disponíveis\n\nETAPA 2 - SELEÇÃO DE DATA:\n- Só avance para esta etapa APÓS confirmar o local na Etapa 1\n- Use a ferramenta check_availability com location (e opcionalmente daysAhead) para buscar datas com horários disponíveis\n- Apresente as datas retornadas em options.dates em formato de lista numerada clara (ex: \"1. 06/01\", \"2. 07/01\", \"3. 08/01\")\n- Ao exibir datas, use apenas a data (DD/MM) e NÃO inclua dia da semana entre parênteses para evitar inconsistências\n- NUNCA invente datas - use apenas as datas retornadas pela ferramenta\n- NUNCA deixe em aberto perguntando apenas \"qual data?\" sem mostrar opções\n- Aguarde confirmação da data escolhida\n- Se o paciente mudar o local, REINICIE do início da Etapa 2 para o novo local\n\nETAPA 3 - SELEÇÃO DE HORÁRIO:\n- Só avance para esta etapa APÓS confirmar a data na Etapa 2\n- Use os horários da data escolhida em options.dates[].times (retornados por check_availability)\n- Se necessário, chame check_availability novamente com o mesmo location para atualizar opções\n- Apresente TODOS os horários disponíveis da data escolhida em formato de lista numerada clara\n- NUNCA invente horários - use apenas os horários retornados pela ferramenta\n- NUNCA pergunte \"qual horário?\" sem antes mostrar os horários disponíveis\n- Aguarde confirmação do horário escolhido\n\nFINALIZAÇÃO:\n- Após confirmar location, date e time, use generate_summary_link\n- VALIDE que a resposta tenha ok === true e valid === true\n- Se ok === true e valid === true, apresente o summaryUrl ao paciente\n- Copie o campo summaryUrl literalmente da resposta da ferramenta e envie em uma linha separada: \"Link de agendamento: <summaryUrl>\"\n- Se a ferramenta retornar summaryUrl, NUNCA finalize a mensagem sem incluir essa URL\n- Só marque como \"completed\" após gerar summaryUrl com sucesso\n- Se ok !== true ou valid !== true, informe erro e peça para tentar novamente\n\nREGRAS CRÍTICAS DO FLUXO:\n- SEMPRE mostre as opções disponíveis ANTES de pedir escolha\n- NUNCA deixe perguntas em aberto (\"qual local?\", \"qual data?\", \"qual horário?\")\n- SEMPRE busque e apresente as opções proativamente\n- Se paciente fornecer local, data e horário juntos, AINDA ASSIM valide e confirme cada etapa\n- Confirme cada escolha antes de avançar para a próxima etapa\n- Se paciente mudar o local durante o fluxo, reinicie da Etapa 2\n- Mantenha controle do estágio atual: awaiting_location, awaiting_date, awaiting_time, completed\n\nCONTROLE DE ESTÁGIO:\nEm cada resposta, rastreie e inclua o estágio atual:\n- awaiting_location: Aguardando escolha do local (após mostrar opções)\n- awaiting_date: Local confirmado, aguardando data (após mostrar opções)\n- awaiting_time: Data confirmada, aguardando horário (após mostrar opções)\n- completed: Agendamento finalizado com sucesso\n\nFERRAMENTAS DISPONÍVEIS:\n1. get_locations - Lista locais disponíveis (USE IMEDIATAMENTE NA ETAPA 1)\n2. check_availability - Retorna datas e horários por local (use options.dates[].times para a Etapa 3)\n3. get_appointments - Busca agendamentos do paciente (requer phone)\n4. generate_summary_link - Gera link de resumo (USE APÓS ETAPA 3 com location, date, time, source)\n\nVALIDAÇÃO DE RESPOSTAS DE API:\nANTES de apresentar qualquer resultado ao paciente:\n1. Verifique se response.ok === true\n2. Se ok === false ou undefined, informe erro ao paciente\n3. Apenas apresente dados se ok === true\n4. Nunca apresente links ou opções de agendamento sem validar ok === true\n\nESTILO DE COMUNICAÇÃO:\n- Tom humano, caloroso e acolhedor\n- Linguagem clara e direta\n- Profissional mas não robotizada\n- Use emojis com parcimônia para manter naturalidade e profissionalismo\n- Na maioria das mensagens, prefira não usar emoji\n- Quando usar, limite a 1 emoji e apenas em confirmações positivas ou acolhimento breve\n- Nunca use emoji em mensagens de erro, falha de ferramenta, indisponibilidade ou pedido para tentar novamente\n- Evite excesso de formalidade\n- Evite saudações se a conversa já estiver em andamento (exceto na primeira mensagem)\n\nFORMATAÇÃO:\n- Mantenha a estrutura clara e organizada\n- Preserve formatação de listas quando houver\n- Use quebras de linha para melhor legibilidade\n- Use numeração para opções (1., 2., 3., etc.)\n\nEXEMPLO DE FLUXO CORRETO:\n\nPaciente: \"Quero agendar uma consulta\"\nFire: [USA get_locations] \"Temos consultas disponíveis em:\n1. Fortaleza - Centro\n2. Fortaleza - Aldeota\n3. Maracanaú\n\nQual local você prefere?\"\n\nPaciente: \"Fortaleza Centro\"\nFire: \"Perfeito! Para Fortaleza - Centro, temos disponibilidade em:\n1. 06/01\n2. 07/01\n3. 08/01\n4. 09/01\n5. 10/01\n\nQual data funciona melhor para você?\"\n\nPaciente: \"07/01\"\nFire: [USA check_availability] \"Ótimo! Para 07/01 em Fortaleza - Centro, temos os seguintes horários:\n1. 08:00\n2. 09:30\n3. 14:00\n4. 16:00\n\nQual horário você prefere?\"\n\nSua tarefa: Auxiliar pacientes seguindo RIGOROSAMENTE o fluxo de 3 etapas, SEMPRE mostrando as opções disponíveis ANTES de pedir escolha, validando todas as respostas de API antes de apresentar resultados. Responda de forma natural e conversacional, como uma secretária humana responderia via WhatsApp."
        }
      },
      "id": "d05491eb-20c0-408c-8e74-7e49e6601e66",
      "name": "Fire AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [960, 304]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-3.5-turbo"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2,
          "topP": 0.9,
          "frequencyPenalty": 0.2,
          "presencePenalty": 0
        }
      },
      "id": "e6002bd8-f284-4d4a-86e1-0393761709c5",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [704, 528],
      "credentials": {
        "openAiApi": {
          "id": "dSbcAsUOL6unKRyk",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "contextWindowLength": 10
      },
      "id": "f421cdaa-da22-45a3-bce9-930cca214aa8",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [832, 528]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "989729870895780",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ $json.messageText }}",
        "additionalFields": {}
      },
      "id": "51a5f2c9-6975-436e-b7c2-7b64d520b5bb",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [1776, 304],
      "webhookId": "699e9b53-2226-43ad-ac9a-dd7b90c6d02c",
      "credentials": {
        "whatsAppApi": {
          "id": "EpxZiQal4x6tGeqW",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Lista os locais ativos de atendimento no oftagenda. Use no início do fluxo de agendamento para apresentar as unidades disponíveis.",
        "url": "https://agenda.oftleonardo.com.br/api/integrations/n8n/locations",
        "sendQuery": false,
        "options": {}
      },
      "id": "ca8368d1-bf8d-4060-8173-e7707779169a",
      "name": "Get Locations Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [960, 528]
    },
    {
      "parameters": {
        "toolDescription": "Consulta disponibilidade no oftagenda por local. Retorna as próximas datas e os horários de cada data em options.dates[].times. Requer location e pode receber daysAhead (1-30, padrão 14).",
        "url": "https://agenda.oftleonardo.com.br/api/integrations/n8n/availability",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "location",
              "value": "={{ $fromAI('location', 'Slug do local para verificar disponibilidade (ex: fortaleza)') }}"
            },
            {
              "name": "daysAhead",
              "value": "={{ $fromAI('daysAhead', 'Quantidade de dias para busca (1-30)', 'number', 14) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "732807ac-72ef-4e3a-aad7-53d516074e00",
      "name": "Check Availability Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [1088, 528]
    },
    {
      "parameters": {
        "toolDescription": "Busca os agendamentos de um paciente pelo número de telefone. Requer phone e pode incluir histórico com includeHistory=true.",
        "url": "https://agenda.oftleonardo.com.br/api/integrations/n8n/appointments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $fromAI('phone', 'Número de telefone do paciente (apenas números)') }}"
            },
            {
              "name": "includeHistory",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "f971c284-6ea8-4a5c-97d3-dd61f10cbb30",
      "name": "Get Appointments Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [1216, 528]
    },
    {
      "parameters": {
        "toolDescription": "Gera o link de resumo no oftagenda com location, date e time. Sempre valide ok===true e valid===true antes de enviar o summaryUrl ao paciente.",
        "method": "POST",
        "url": "https://agenda.oftleonardo.com.br/api/integrations/n8n/resumo-link",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  location: $fromAI('location', 'Slug do local escolhido (ex: fortaleza)'),\n  date: $fromAI('date', 'Data no formato YYYY-MM-DD'),\n  time: $fromAI('time', 'Horário no formato HH:mm'),\n  source: 'whatsapp-n8n'\n}) }}",
        "options": {}
      },
      "id": "b2aba3e2-2b36-49ea-a376-5c21b4067cc9",
      "name": "Generate Summary Link Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [1344, 528]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "messageText",
              "value": "={{ (() => {\n  const output = typeof $json.output === 'string' ? $json.output.trim() : '';\n  const steps = Array.isArray($json.intermediateSteps) ? $json.intermediateSteps : [];\n\n  let latestToolResult = null;\n\n  for (let i = steps.length - 1; i >= 0; i -= 1) {\n    const observation = steps[i]?.observation;\n    if (!observation) continue;\n\n    if (typeof observation === 'object' && observation.summaryUrl) {\n      latestToolResult = {\n        summaryUrl: observation.summaryUrl,\n        valid: observation.valid,\n      };\n      break;\n    }\n\n    if (typeof observation !== 'string') continue;\n\n    try {\n      const parsed = JSON.parse(observation);\n      if (parsed?.summaryUrl) {\n        latestToolResult = {\n          summaryUrl: parsed.summaryUrl,\n          valid: parsed.valid,\n        };\n        break;\n      }\n    } catch {\n      // Ignora observações não-JSON e segue buscando.\n    }\n  }\n\n  if (latestToolResult?.valid === false) {\n    return output && !/https?:\\/\\/\\S+/i.test(output)\n      ? output\n      : 'Não consegui validar esse horário para agendamento. Você pode escolher outro horário disponível?';\n  }\n\n  if (latestToolResult?.summaryUrl && latestToolResult.valid === true) {\n    const outputHasUrl = /https?:\\/\\/\\S+/i.test(output);\n    if (outputHasUrl) return output;\n    return (output ? output + '\\n\\n' : '') + 'Link de agendamento: ' + latestToolResult.summaryUrl;\n  }\n\n  return output || 'Houve um problema ao gerar o link de agendamento. Você pode tentar outro horário?';\n})() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "56f8a676-0460-4597-8806-af7b5cf80228",
      "name": "Extract Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1552, 304]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst fortalezaTime = new Intl.DateTimeFormat('pt-BR', {\n  timeZone: 'America/Fortaleza',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit',\n  hour12: false,\n}).format(now);\n\nconst isoFormatted = now.toISOString();\nconst items = $input.all();\n\nreturn items.map((item) => ({\n  json: {\n    ...item.json,\n    currentDateTime: fortalezaTime,\n    currentDateTimeISO: isoFormatted,\n    timezone: 'America/Fortaleza',\n  },\n}));"
      },
      "id": "b08c6f90-5340-44f9-9b2d-f5669b589e06",
      "name": "Add Current DateTime",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 304]
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Add Current DateTime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Fire AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Fire AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Fire AI Agent": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Response": {
      "main": [[]]
    },
    "Get Locations Tool": {
      "ai_tool": [
        [
          {
            "node": "Fire AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability Tool": {
      "ai_tool": [
        [
          {
            "node": "Fire AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Appointments Tool": {
      "ai_tool": [
        [
          {
            "node": "Fire AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary Link Tool": {
      "ai_tool": [
        [
          {
            "node": "Fire AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Current DateTime": {
      "main": [
        [
          {
            "node": "Fire AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "089f1fe5-c438-40ae-b3fa-8741b6a277c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c444351666935ce8297121c33200124890a3354d811e2047250eca364f0dcaf2"
  },
  "id": "zQ1l07zyQoiIENsz",
  "tags": []
}
