oftchatbot.json
{
  "name": "oftchatbot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "6e1c26f8-ce8f-4d8d-90cd-0f620effce0c",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        256,
        304
      ],
      "webhookId": "5e9cc384-2fd6-499a-88b2-89e57c630e70",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "KCd6vn86yVRq5L4J",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.messages[0].text.body }}",
        "options": {
          "systemMessage": "Você é a Fire, assistente virtual da Clínica OFT Leonardo, atuando como uma secretária oftalmológica sênior: educada, calma, acolhedora, organizada e experiente.\n\nMeta: conduzir o agendamento em ordem fixa: local -> data -> horário -> link.\n\nEstilo:\n- Soe humana, natural e profissional.\n- Linguagem simples, elegante e acessível para públicos A, B, C e D.\n- Frases curtas. Pouca enrolação. Boa educação sempre.\n- Não usar tom robótico, mecânico ou excessivamente scriptado.\n- Não mencionar espontaneamente que é IA. Se perguntarem diretamente, responda com transparência que você é a assistente virtual da clínica.\n\nEconomia de tokens:\n- Seja breve sem parecer fria.\n- Fora listas, prefira 2 a 5 linhas curtas.\n- Não repetir contexto já confirmado pelo paciente.\n- Não repetir explicações do fluxo.\n- Faça apenas 1 pergunta por mensagem.\n- Use no máximo 1 CTA por mensagem.\n\nSaudação:\n- Cumprimente apenas na primeira mensagem da conversa.\n- Nas mensagens seguintes, continue direto, com cordialidade, sem nova saudação.\n- Se o paciente já demonstrou intenção de agendar, não pergunte novamente se ele quer agendar.\n\nFerramentas e precisão:\n- Nunca invente dados, datas, horários, unidades, valores ou links.\n- Use ferramentas em tempo real antes de responder sobre disponibilidade.\n- Não repita a mesma chamada de ferramenta na mesma resposta.\n- Faça no máximo 1 chamada por etapa.\n- Não confirme agendamento no chat; apenas gere o link para conclusão.\n- Em dúvidas clínicas, dê apenas orientação geral, sem diagnóstico.\n\nFluxo obrigatório:\n1) Local.\n2) Data.\n3) Horário.\n4) Link.\n\nRegras de sequência:\n- Nunca pedir data e horário ao mesmo tempo.\n- Nunca mostrar horários antes da data ser escolhida.\n- Nunca usar formato combinado como \"1 08:00\".\n- Depois que a unidade for escolhida, mostrar apenas datas.\n- Depois que a data for escolhida, mostrar apenas horários daquela data.\n- Depois que o horário for escolhido, gerar o link.\n\nFormato da etapa DATA:\n- Mostrar no máximo 2 datas por mensagem.\n- Não listar horários nesta etapa.\n- Se houver mais datas, dizer naturalmente que pode mostrar outras.\n- Encerrar com uma pergunta simples, como: \"Qual data fica melhor para você?\"\n\nExemplo:\nPerfeito, já deixei a unidade anotada.\n\nEstas são as próximas datas disponíveis:\n1) 09/03/2026\n2) 16/03/2026\n\nSe preferir, posso te mostrar outras datas também.\nQual data fica melhor para você?\n\nFormato da etapa HORÁRIO:\n- Mostrar no máximo 6 horários por mensagem.\n- Mostrar apenas horários da data escolhida.\n- Se houver mais horários, avisar naturalmente.\n- Encerrar com uma pergunta simples, como: \"Qual horário funciona melhor para você?\"\n\nExemplo:\nPerfeito, anotei a data de 09/03/2026.\n\nEstes são os horários disponíveis nesse dia:\n1) 08:00\n2) 08:30\n3) 09:00\n4) 09:30\n5) 10:00\n6) 10:30\n\nSe quiser, posso te mostrar mais horários desta data.\nQual horário funciona melhor para você?\n\nFormato do link:\n- Se ok !== false e houver summaryUrl, sempre contextualize antes do link.\n- Modelo:\n  \"Perfeito, deixei essa opção pronta para você.\n  Para concluir seu agendamento com segurança, é só acessar este link:\n  <summaryUrl>\"\n- Se não houver summaryUrl, explique com cordialidade e ofereça outra data ou horário."
        }
      },
      "id": "d05491eb-20c0-408c-8e74-7e49e6601e66",
      "name": "Fire AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        960,
        304
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "e6002bd8-f284-4d4a-86e1-0393761709c5",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        704,
        528
      ],
      "credentials": {
        "openAiApi": {
          "id": "dSbcAsUOL6unKRyk",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "contextWindowLength": 4
      },
      "id": "f421cdaa-da22-45a3-bce9-930cca214aa8",
      "name": "Conversation Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        832,
        528
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "989729870895780",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.messages[0].from }}",
        "textBody": "={{ (() => {\n  const compact = (value) =>\n    String(value ?? '')\n      .replace(/\\r\\n/g, '\\n')\n      .split('\\n')\n      .map((line) => line.trimEnd())\n      .join('\\n')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n\n  const text = compact(typeof $json.messageText === 'string' ? $json.messageText : '');\n  const summaryUrl = compact(typeof $json.summaryUrl === 'string' ? $json.summaryUrl : '');\n\n  if (!summaryUrl) return text;\n\n  const hasUrl = /https?:\\/\\/\\S+/i.test(text);\n  if (hasUrl) return text;\n\n  return compact([\n    text,\n    'Para concluir seu agendamento com segurança, acesse este link: ' + summaryUrl,\n  ].filter(Boolean).join('\\n\\n'));\n})() }}",
        "additionalFields": {}
      },
      "id": "51a5f2c9-6975-436e-b7c2-7b64d520b5bb",
      "name": "Send WhatsApp Response",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        1776,
        304
      ],
      "webhookId": "699e9b53-2226-43ad-ac9a-dd7b90c6d02c",
      "credentials": {
        "whatsAppApi": {
          "id": "EpxZiQal4x6tGeqW",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Lista locais ativos de atendimento. Use no início do agendamento e sempre em tempo real.",
        "url": "https://agenda.oftleonardo.com.br/api/integrations/n8n/locations",
        "sendQuery": true,
        "options": {},
        "queryParameters": {
          "parameters": [
            {
              "name": "_ts",
              "value": "={{ Date.now().toString() }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cache-Control",
              "value": "no-cache, no-store, must-revalidate"
            },
            {
              "name": "Pragma",
              "value": "no-cache"
            },
            {
              "name": "Expires",
              "value": "0"
            }
          ]
        }
      },
      "id": "ca8368d1-bf8d-4060-8173-e7707779169a",
      "name": "Get Locations Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        960,
        528
      ]
    },
    {
      "parameters": {
        "toolDescription": "Consulta disponibilidade por local. Retorna datas em options.dates e horários em options.dates[].times.",
        "url": "https://agenda.oftleonardo.com.br/api/integrations/n8n/availability",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "location",
              "value": "={{ $fromAI('location', 'Slug do local para verificar disponibilidade (ex: fortaleza)') }}"
            },
            {
              "name": "daysAhead",
              "value": "={{ $fromAI('daysAhead', 'Quantidade de dias para busca (1-30)', 'number', 14) }}"
            },
            {
              "name": "_ts",
              "value": "={{ Date.now().toString() }}"
            }
          ]
        },
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Cache-Control",
              "value": "no-cache, no-store, must-revalidate"
            },
            {
              "name": "Pragma",
              "value": "no-cache"
            },
            {
              "name": "Expires",
              "value": "0"
            }
          ]
        }
      },
      "id": "732807ac-72ef-4e3a-aad7-53d516074e00",
      "name": "Check Availability Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1088,
        528
      ]
    },
    {
      "parameters": {
        "toolDescription": "Busca agendamentos por telefone (phone), opcionalmente com histórico.",
        "url": "https://agenda.oftleonardo.com.br/api/integrations/n8n/appointments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $fromAI('phone', 'Número de telefone do paciente (apenas números)') }}"
            },
            {
              "name": "includeHistory",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "id": "f971c284-6ea8-4a5c-97d3-dd61f10cbb30",
      "name": "Get Appointments Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1216,
        528
      ]
    },
    {
      "parameters": {
        "toolDescription": "Gera link de resumo com location, date e time. Use valores exatos retornados pelas ferramentas e envie apenas se ok=true e summaryUrl existir.",
        "method": "POST",
        "url": "https://agenda.oftleonardo.com.br/api/integrations/n8n/resumo-link",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ ({\n  location: $fromAI('location', 'Slug do local (exato de locations[].value)'),\n  date: $fromAI('date', 'Data em YYYY-MM-DD (exata de options.dates[].isoDate)'),\n  time: $fromAI('time', 'Horário HH:mm (exato de options.dates[].times[])'),\n  source: 'whatsapp-n8n',\n  utmSource: 'whatsapp',\n  utmMedium: 'chatbot',\n  utmCampaign: 'agendamento_n8n',\n  utmContent: 'fire_assistente'\n}) }}",
        "options": {}
      },
      "id": "b2aba3e2-2b36-49ea-a376-5c21b4067cc9",
      "name": "Generate Summary Link Tool",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1344,
        528
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "messageText",
              "value": "={{ (() => {\n  const output = $json.output;\n\n  const sanitize = (text) => (typeof text === 'string' ? text : '')\n    .trim()\n    .replace(/confirma(c|ç)ão do agendamento/gi, 'geração do link de agendamento')\n    .replace(/confirmar o agendamento/gi, 'gerar o link de agendamento')\n    .replace(/consulta est[aá] agendada/gi, 'agendamento está pronto para conclusão')\n    .replace(/consulta foi agendada/gi, 'agendamento está pronto para conclusão')\n    .replace(/(\\b\\d{2}\\/\\d{2})\\s*\\([^\\n)]*\\)/g, '$1');\n\n  if (typeof output === 'object' && output !== null) {\n    return sanitize(output.reply);\n  }\n\n  return sanitize(typeof output === 'string' ? output : '');\n})() }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "summaryUrl",
              "value": "={{ (() => {\n  const output = $json.output;\n\n  if (typeof output === 'object' && output !== null) {\n    const url = typeof output.summaryUrl === 'string' ? output.summaryUrl.trim() : '';\n    if (url && output.ok !== false) return url;\n\n    const nestedUrl = typeof output?.data?.summaryUrl === 'string' ? output.data.summaryUrl.trim() : '';\n    if (nestedUrl && output?.data?.ok !== false) return nestedUrl;\n  }\n\n  return '';\n})() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "56f8a676-0460-4597-8806-af7b5cf80228",
      "name": "Extract Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1552,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst fortalezaTime = new Intl.DateTimeFormat('pt-BR', {\n  timeZone: 'America/Fortaleza',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit',\n  hour12: false,\n}).format(now);\n\nconst isoFormatted = now.toISOString();\nconst items = $input.all();\n\nconst isInboundTextMessage = (payload) => {\n  const message = payload?.messages?.[0];\n  if (!message || typeof message !== 'object') return false;\n\n  const messageType = String(message.type ?? '').toLowerCase();\n  const body = typeof message?.text?.body === 'string' ? message.text.body.trim() : '';\n  const from = typeof message.from === 'string' ? message.from.trim() : '';\n\n  // Processa apenas mensagem de texto do paciente.\n  if (!from) return false;\n  if (!body) return false;\n  return messageType === 'text';\n};\n\nreturn items\n  .filter((item) => isInboundTextMessage(item.json))\n  .map((item) => ({\n    json: {\n      ...item.json,\n      currentDateTime: fortalezaTime,\n      currentDateTimeISO: isoFormatted,\n      timezone: 'America/Fortaleza',\n    },\n  }));"
      },
      "id": "b08c6f90-5340-44f9-9b2d-f5669b589e06",
      "name": "Add Current DateTime",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        304
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"reply\": \"Mensagem final para o paciente\",\n  \"summaryUrl\": \"https://agenda.oftleonardo.com.br/agendar/resumo?...\",\n  \"ok\": true\n}"
      },
      "id": "03f5d724-b62b-4c41-a89f-99743071828e",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        832,
        656
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Add Current DateTime",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Fire AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversation Memory": {
      "ai_memory": [
        [
          {
            "node": "Fire AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Fire AI Agent": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Response": {
      "main": [
        []
      ]
    },
    "Get Locations Tool": {
      "ai_tool": [
        [
          {
            "node": "Fire AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check Availability Tool": {
      "ai_tool": [
        [
          {
            "node": "Fire AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Appointments Tool": {
      "ai_tool": [
        [
          {
            "node": "Fire AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary Link Tool": {
      "ai_tool": [
        [
          {
            "node": "Fire AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Current DateTime": {
      "main": [
        [
          {
            "node": "Fire AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Fire AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "089f1fe5-c438-40ae-b3fa-8741b6a277c4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c444351666935ce8297121c33200124890a3354d811e2047250eca364f0dcaf2"
  },
  "id": "zQ1l07zyQoiIENsz",
  "tags": []
}
